@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Lakki+Reddy&display=swap');

body {
  background-color: rgb(129, 25, 11);
}

.nav-bar-pages {
  display: flex;
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

li {
  padding: 10px;
  margin-right: 5px;
  font-family: "Lakki Reddy", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  display: flex;
}

.resturant-name-text {
  font-family: "Ingrid Darling", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: rgb(243, 207, 78);
  margin-top: 20px;
}

.resturant-logo {
  width: 90px;
  height: 90px;
  margin: 20px;
}